/**************** Font Import Url Start ****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Font Import Url End */

/**************** Global Features Start ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    position: relative;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 20px;
    font-weight: 100;
    color: #333;
    margin-bottom: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.text-center{
    text-align: center;
}

.fw-600{
    font-weight: 600;
}

input,select{
    outline: none;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 5px;
}
/**************** Global Features End ****************/

/**************** Disabled, Enabled, Hide, Show, Error Classes Features Start ****************/
.disabled{
    background-color: #f1a262;
    transition:background-color 0.5s;
}

.enabled{
    background-color: #f27a1a;
    transition:background-color 0.5s;
}

.disabled:hover{
    background-color: #fec49c;
    transition:background-color 0.5s;
}

.enabled:hover{
    background-color: #ff8b38;
    transition:background-color 0.5s;
}

.hide{
    display: none !important;
}

.show{
    display: block;
}

.error{
    box-shadow: inset 20px 0px 0px -15px #ff6b6b;
    transition: box-shadow 0.1s;
}
/**************** Disabled, Enabled, Hide, Show, Error Classes Features End ****************/

/**************** Pop-Up Features Start ****************/
.pop-up-info{
    background:linear-gradient(to right, rgba(193, 193, 193, 0.503), rgba(193, 193, 193, 0.503));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-info>.content{
    background-color: white;
    width: 500px;
    padding: 20px;
    z-index: 999;
    height: 600px;
    border-radius: 5px;  
}

.pop-up-info>.content>.head{
    display: flex;
}

.pop-up-info>.content>.head>a{
    margin-left: auto;
    color: rgb(93, 93, 93);
    font-size: 20px;
    transition: color 0.5s;
}

.pop-up-info>.content>.head>a:hover{
    color:#f27a1a;
}

.content>p{
    font-size: 14px;
}

.detail{
    background-color: #FAFAFA;
    overflow: auto;
    padding: 15px 0;
    border-radius: 5px;
    height: 170px;
}

.detail-text{
    padding: 30px;
    height: 300px;
}

.detail-text>p{
    font-size: 14px;
}

/**************** Pop-Up's Button Features Start ****************/
.btn-confirm{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f27a1a;
}

.btn-confirm:hover{
    background-color: #ff8b38;
    transition:background-color 0.5s;
}
/**************** Pop-Up's Button Features End ****************/
/**************** Pop-Up Features End ****************/

/**************** Pop-Up Scrollbar Features Start ****************/
/* width */
.detail::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
.detail::-webkit-scrollbar-track {
    background: #d8d8d8;
    border-radius: 100px; 
}
   
/* Handle */
.detail::-webkit-scrollbar-thumb {
    background: #888888; 
    border-radius: 100px;
}
/**************** Pop-Up Scrollbar Features End ****************/

/**************** Main Features Start ****************/
main{
    padding:0 10vw;
}

/**************** Header Features Start ****************/
header{
    display: flex;
    align-items: center;
    margin: 25px 0 10px 0;
}

.logo>img{
    width:50%;
    height:50%;
}

/**************** Header Right Side Features Start ****************/
.information{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.information>i{
    font-size: 22px;
    color: #0bc15c;
}

.information>p{
    color:gray;
}
/****************Header Right Side Features End ****************/
/**************** Header Features End ****************/

/**************** Container Features Start ****************/
.container{
    display: flex;
    gap: 20px;
}

/**************** Payment Area Features Start ****************/
.payment-area{
    width: 60%;
}

.payment-area>.head{
    padding: 15px 15px 50px 15px;
    background-color: #FEFEFE;
    border: 1px solid #e2e2e2;
    border-bottom-color: #f27a1a;
    border-bottom-width: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-area>.head>h1{
    font-size: 20px;
    color:#f27a1a;
}

.payment-area>.head>p{
    font-size: 13px;
    margin-top: 10px;
}

.payment-area>.content{
    padding: 15px;
    background-color: #FEFEFE;
    border: 1px solid #e2e2e2;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.29);
}

.payment-area>.content>.card-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-info{
    display: flex;
    gap: 15px;
}

.user-info div{
    width: 50%
}

.user-info input{
    width: 100%;
}

.payment-area>.content>.card-info label{
    display: block;
}

.payment-area>.content>.card-info>.three-d-secure{
    display:flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.payment-area>.content>.card-info>.three-d-secure>label{
    display: inline-block;
}

.payment-area>.content>.card-info>.three-d-secure>input[type="checkbox"]{
   appearance: none;
   cursor: pointer;
   padding: 2px 5px !important;
   width: 25px;
   height: 25px;
   
}

.payment-area>.content>.card-info>.three-d-secure>input[type="checkbox"]:checked{
    background-color: #f27a1a;
    display: flex;
    align-items: center;
}

.three-d-secure>input[type="checkbox"]:checked::before{
    content:"\f00c";
    font-family: FontAwesome;
    color: white;
}

.payment-area>.content>.head>h2{
    margin-bottom: 20px;
}

.payment-area>.content>.card-info>.card-number>input{
    width: 100%;
    padding: 10px;
}

.pull-date-area{
    display: flex;
}

.pull-date-area>.cvv{
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.pull-date-area>.cvv>.cvv-head{
    display:flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.pull-date-area>.cvv a{
    color:#f27a1a;
    position: relative;
}

.pull-date-area>.cvv a:hover::before{
    content: "GÜVENLİK KODU (CVV)";
    position: absolute;
    top: -80px;
    left: -70px;
    width: 15em;
    color: black;
    font-weight: 600;
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #c6c5c5;
    border-bottom-width: 0;
    padding: 10px;
}

.pull-date-area>.cvv a:hover::after{
    content: "Kartınızın arka yüzündeki son 3 rakam. Amex için kartınızın ön yüzündeki 4 rakam.";
    position: absolute;
    top: -56px;
    left: -70px;
    width: 18em;
    color: black;
    font-size: 10px;
    background-color: white;
    margin-top: -1px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #c6c5c5;
    border-top-width: 0;
    padding: 10px;
    padding-top: 5px;
}
/**************** Payment Area Features End ****************/

/**************** Pay Area Features Start ****************/
.pay-area{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button{
    position: absolute;
    height: 44px !important;
}

button::before{
    content: 'Ödeme Yap';
    color: white;
    font-size: 17px;
    font-weight: 600;
}

#container{
    position: relative;
    height: 44px;
}

.btn-pay{
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}

.gpay-card-info-iframe.gpay-card-info-iframe-fade-in{
    animation: 0ms !important;
}

.gpay-card-info-container.black, .gpay-card-info-animation-container.black{
    background-color: #f27a1a !important;
    transition: background-color 0.5s !important;
    width: 100%;
}

.gpay-card-info-container.black:hover, .gpay-card-info-animation-container.black:hover{
    background-color: #fec49c !important;
    
}

.gpay-card-info-animated-progress-bar{
    display: none !important;
}

svg,iframe{
    display: none !important;
}

.gpay-card-info-animation-gpay-logo,.gpay-card-info-placeholder-container,.gpay-card-info-animation-container-fade-out{
    animation: none !important;
  
}

button div,button>div>iframe{
    display: none !important;
}

.gpay-card-info-animation-gpay-logo{
    display: none !important;
}

.gpay-card-info-animation-container-fade-out{
    animation-duration: 0ms !important;
}

.b3-updatable-cart .b3-updatable-cart-dialog-summary-value{
    display: none !important;
}


.check-contract{
    display: flex;
    gap: 10px;
}

.check-contract>p{
    font-size: 12px;
    color: rgb(152, 151, 151);
}

.check-contract>p>a{
    color: rgb(68, 68, 68);
    font-weight: 600;
}

.check-contract>input[type="checkbox"]{
    appearance: none;
    cursor: pointer;
    padding: 2px 5px !important;
    width: 31px;
    height: 25px;
    transition: all 0.5s;
 }
 
.check-contract>input[type="checkbox"]:checked{
     background-color: #f27a1a;
     display: flex;
     align-items: center;
 }
 
.check-contract>input[type="checkbox"]:checked::before{
     content:"\f00c";
     font-family: FontAwesome;
     color: white;
 }

.order-summary{
     border: 1px solid #e6e6e6;
     padding: 21px 15px;
     border-radius: 5px;
    height: 366px;
 }

.order-content{
     display: flex;
     flex-direction: column;
     gap: 16px;
     font-size: 14px;
 }

.order-content>.order-box{
     display: flex;
 }

.order-content>.order-box>p:last-child{
        margin-left: auto;
 }

.order-summary hr{
     color: #e6e6e6;
 }
/**************** Pay Area Features End ****************/

/**************** Container Features End ****************/
/**************** Main Features End ****************/

/******************** Media Queries Start ***********************/
 
/******************** 576px Start *******************/
 @media (max-width: 576px){

    html{
        height: auto;
    }

     .container{
         flex-direction: column;
     }

     .payment-area{
         width: 100%;
     }

     .card-info{
         flex-wrap: wrap;
     }

     .pull-date-area{
         flex-direction: column;
     }

     .pull-date-area>.cvv{
         margin-left: 0;
     }

 }
 /******************** 576px End *******************/

/******************** 768px Start *******************/
@media (max-width: 768px){

    html{
        height: auto;
    }

    .container{
        flex-direction: column;
    }

    .payment-area{
        width: 100%;
    }

    .card-info{
        flex-wrap: wrap;
    }

    .pull-date-area{
        flex-direction: column;
    }

    .pull-date-area>.cvv{
        margin-left: 0;
        margin-top: 15px;
    }

    .pay-area{
        margin-left: 0;
    }
}
/******************** 768px End *******************/

/******************** 2560px Start *******************/
@media (max-width: 2560px){
    .pay-area{
        margin-left: 0;
    }

    .payment-area{
        width: 100%;
    }
}
/******************** 2560px End *******************/

/******************** Media Queries End ***********************/

