@import 'base/formalize';
@import 'base/normalize';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'component/button';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html,body{
    height: 100%;
}

body{
    position: relative;
}

.main{

    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding: 0 36px;
    @include flex(center,150px);

    &-left-area{

        @include sm{
            height: 262px;
        }

        @include md{
            height: 300px;
        }


        @include lg{
            width: 568px;
            height: 515px;
            position: relative;
        }

        .circle{
            position: absolute;
            background: $primary-color;
            border-radius: 100%;

            @include sm{
                width: 441px;
                height: 398px;
                left: -62px;
                top: -203px;
            }

            @include md{
                position: relative;
                width: 592px;
                height: 444px;
                left: -13px;
                top: -274px;
            }

            @include lg{
                width: 600px;
                height: 804px;
                top: -150px;
                left: -500px;
            }
        }
        
        img{
            position: absolute;

            @include sm{
                width: 362px;
                height: 328px;
                left: 38px;
                top: 44px;
            }

            @include md{
                width: 458px;
                height: 415px;
                left: 137px;
            }

            @include lg{
                width: 641px;
                height: 580px;
                left: -120px;
            }
        }
    }

    &-right-area{

        width: 425px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .title{

            @include sm{
                font-size: 58px;
            }

            font-size: 70px;
        }

        .desc{
            font-weight: 600;
        }

        .price{
            display: flex;
            align-items: center;

            .total{
                font-weight: 700;
                font-size: 36px;
            }

            .total-desc{
                margin-left: auto;
                font-size: 16px;
                font-weight: 600;
                color: $text-color;
            }
        }

        .reviews{
            display: flex;
            gap: 10px;

            .text{
                font-weight: 600;
            }

            .stars{
                color: $star-color;
            }
        }

        .btn-buy{
           
           width: 200px;
           position: relative;

           p,i{
               position: absolute;
               top: 23px;
           }

           p{
               left: 14px;
               font-weight: 600;
           }

           i{
            right: 14px;
            font-size: 22px;
           }

           button{
               height: 60px;
               min-width: 200px;
           }
        }
        
    }
}


.gpay-card-info-container.black, .gpay-card-info-animation-container.black{
    background-color: $primary-color !important;
}

.gpay-card-info-animated-progress-bar,svg,iframe{
    display: none !important;
}

button div,button>div>iframe{
    display: none !important;
}

.gpay-card-info-animation-gpay-logo{
    display: none !important;
}

.gpay-card-info-animation-container-fade-out{
    animation-duration: 0ms !important;
}

.b3-updatable-cart .b3-updatable-cart-dialog-summary-value{
    display: none !important;
}
