// FLEXBOX
@mixin flex($justify, $gap, $align:center, $direction:row, $wrap: wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}